<div *ngFor="let country of countries">
    <div class="media mt-4" style="min-width: 100% !important; " routerLink="tournament/{{sportid}}/{{country.id}}" (click)="selectcountry(country.id)">
        <a class="d-flex" style="background-color: transparent;">
        <div class="media-body" style="background-color: #2b2b2b; height: 30px !important; border-radius: 5px !important; ">
            <div class="row">
                <div class="col-md-6">
                    <img src="{{country.countryFlag}}" width="40" height="30" style="border-radius: 5px !important;">
                </div>
                <div class="col-md-6">
                    <p class="text-white" style="width: 110px; margin-left: -30px;">{{country.countryName}}</p>
                </div>
            </div>

        </div>
    </a>
    </div>
</div>