<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

<div class="col-md-12 mt-4">
    <div *ngFor="let events of event">
        <div class="row">
        <div class="card mt-1 text-white" style="min-width: 100%!important;background-color: #1e1e1e;">
          <div class="card-header">
            <h5 style="font-size: 17px !important;">{{events.eventDate | date : "EEEE, MMMM d, y"}}</h5>
          </div>
          <div class="card-body">
            <p class="card-title" style="font-size: 14px !important;">{{events.eventName}}</p>
          </div>
        </div>
  </div>    
</div>
</div>